@model Libro

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portada)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.Portada)" width="200" height="200" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGenero)
        </dd>
    </dl>
</div>
<div>

    @if (Context.User.Identity.IsAuthenticated == false)
    {
        <a asp-controller="Managed" asp-action="Login"
           class="btn btn-outline-success">
            Comprar
        </a>
    }
    else
    {
        <a asp-controller="Libros" asp-action="Detalles"
           asp-route-idlibro="@Model.IdLibro"
           asp-route-idComprar="@Model.IdLibro"
           class="btn btn-outline-success">
            Comprar
        </a>
    }

    

    <h2 class="text-warning">
        @ViewData["MENSAJE"]
    </h2>

    <a asp-action="Index">Back to List</a>
</div>
